.navbar{
    margin: 0 0 0 0;
}

body{
            font-family: 'Lato';
}

.brandText{
    font-weight: bolder;
}
.userDropdown{
    color:black;
    font-weight: 500;
}

#navbartext{
    color:white;
}

#navbartext > p{
    font-size: 20px;
    font-weight: bolder;
}

#navbartext > p:hover{
    color:#337ab7;
}

.navbar-static-top .navbar-nav > li > a:hover, .navbar-static-top .navbar-nav > li > a:focus {
    background-color: transparent;
}

.firstContent{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/temporary.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}

.containerFirst{
    height: 600px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 100%;
}

.containerFirst h1{
    font-weight: bolder;
    font-size: 65px;
}
.containerFirst h2{
    font-weight: bolder;
    font-size: 65px;
}

.secondContent{
    width: 100%;
    height: 660px;
    position: relative;
    background-color: #ecf0f1;
}

.thirdContent{
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #2196F3;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/abstract.jpg');
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
    background-position: 0% 50%;
}

.fourthContent{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #ecf0f1;
}

.fifthContent{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/leadership.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
    background-position: 0% 10%;
}

.contactUs{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #ecf0f1;
}

.event{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: white;
}

.socialMedia{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #bdc3c7;
}

.footer{
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #2c3e50;
}

.bolder{
    font-weight: bolder;
}

.bold{
    font-weight: 00;
}

.larger{
    font-size: 60px;
}


.large{
    font-size:50px;
}

.largest{
    font-size:100px;
}

.info-text{
    font-size:16px;
    text-align: justify;
}

.subtext{
    text-align: left;
}

.vision-text{
    color: white;
}

.absolute{
    position: inherit;
}

.midnight-blue{
    color: #2c3e50;
}

.blog_container{
    background-color:white;
    width: 900px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.blog_content{
    text-align: left;
    margin-left: 20px;
}

.firstBlog, .secondBlog{

    padding-top: 40px;
    padding-right: 40px;
}

.col-sm-7 input, .col-sm-7 textarea, .col-sm-7 button{
    width: 100%;
    margin-left: 5px;
    border-style: none;
}
.inputs{
    margin-top: 50px;
}

.col-sm-7 button{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top: 20px;
}

.contactUs p{
    font-size: 24px;
}

.submessages{
    text-align: left;
}

.socialMedia .col-sm-4 h2{
    display: inline-block;
}

.footer{
    color: white;
}

.footer p{
    font-size: 10px;
}
.footer .row{
    margin-left: 100px;
}

.registrationButton{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

.solo{
    background-color:#f39c12;
}

.group{
    background-color: black;
    width: 100%;
}

.addRow{
    height:20px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #34495e;
}

.registrationForm{
    padding: 10px 10px;
    width:100%;
    height: 100%;
    color: #2c3e50;
}

.inputReg{
    border-radius: 0px;
    margin-top:10px;
}

.form-group label{
    font-size: 14px;
}

.firstContentReg{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/wollpepper.jpg');
    width: 100%;
    height: 620px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}

.secondContentReg{
    background-image: linear-gradient(
      rgba(41, 128, 185, 0.6),
      rgba(41, 128, 185, 0.6)
    ),url('../img/wollpiper.jpg');
    width: 100%;
    height: 620px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}

.thirdContentReg{
    background-color: #bdc3c7;
    width: 100%;
    height: 620px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
}

.firstContentBlog{
}

.addRowReg{
    width: 100%;
    background-color: #34495e;
}

.group{
    background-color: #2c3e50;
}

.mainButton{
    width: 250px;
    height: 75px;
    background-color: transparent;
    border-radius: 5px;
}

.groupContainer{
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    padding:10px 10px;

    box-shadow: 1px 0px 8px rgba(50, 50, 50, 0.75);
}

.thirdContentReg h1, .thirdContentReg h4{
    color: #2c3e50;
}

.regButton{
    width: 250px;
    height: 75px;
    background-color: #2c3e50;
    border-style: none;
    color: #ecf0f1;
    font-size: 24px;
}

.navText h1 a{
    cursor: pointer;

}
.navText h1 a:hover{
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bolder;
}

.repInfo{
    color: #2c3e50;
}

.aboutUsMainText{
    font-size: 300px;

}

.firstContentAbout{
    background-color: #ecf0f1;
}





.cloud{
    color: #ecf0f1;
}

.secondContentAbout{
    width: 100%;
    height: 620px;
    position: relative;
    background-color: #ecf0f1;
}

.nfjpiaLogo p{
    font-size: 20px;
}

.thirdContentAbout{
    width: 100%;
    height: 620px;
    position: relative;
    background-color: #bdc3c7;
}

.navText{
    margin-top:350px;
}

.noHover:hover{
    text-decoration: none;
    color: #2c3e50;
}

.noHover2:hover{
    text-decoration: none;
    color: #2c3e50;
}

.underConstruction{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),url('../img/construction.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    position: relative;
    box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
    padding: 0 0 0;
    margin: 0;
}

body{
    margin:0;
}